.productContainer {
	border-radius: 15px;
	padding: 15px;
	width: 200px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bookImage {
	border-radius: 15px;
	width: 170px;
	height: 240px;
}

.title {
	font-size: 18px;
}
.price {
	font-size: 14px;
}

.btnContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.btn {
	padding: 10px 15px;
	font-size: 15px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	border: none;
}

.btn:hover {
	cursor: pointer;
	background-color: white;
	color: black;
	border: 1px solid black;
}

.btn:disabled {
	background-color: grey;
	cursor: default;
}

.quantity {
	font-weight: bold;
}
