.productContainer {
	border-radius: 15px;
	padding: 15px;
	width: 200px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bookImage {
	border-radius: 15px;
	width: 170px;
	height: 240px;
}

.title {
	font-size: 18px;
}
.price {
	font-size: 14px;
}
